body {
	background: yellow;
	margin: 0;
}

.red {
	height: 150px;
	background: red;
} 

.blue {
	background: blue;
	width: 70%;
	height: 900px;
	margin: 0 auto;
}

.green {
	background: green;
	width: 70%;
	height:100px;
	margin: 0 auto;
}
